@import url(https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap);

* {
    padding: 0;
    margin: 0;
    font-family: "Nunito";
}

.navigation {
    display: flex;
    height: 85px;
    width: 100%;
    justify-content: space-between;
    background-color: #bff0da;
    align-items: center;
    position: fixed;
    z-index: 1000;
    top: 0;
}

.navigation img {
    height: 40px;
    margin-left: 50px;
}

.navigation button {
    color: white;
    font-weight: bolder;
    height: 40px;
    width: 100px;
    border-style: solid;
    background-color: green;
    border-width: 3px;
    border-radius: 12px;
    border-color: green;
    margin-right: 50px;
}

.navigation button:hover {
    cursor: pointer;
    background-color: #bff0da;
    color: green;
    height: 45px;
    width: 105px;
    border-color: green;
}

.navlandingpage {
    display: flex;
    flex-direction: row;
    color: black;
    list-style: none;
}

.navlandingpage li {
    margin-left: 20px;
    margin-right: 20px;
    font-weight: bolder;
    color: black;
}

.navlandingpage li:hover {
    color: orange;
    margin-top: 4px;
    cursor: pointer;
}

.navlandingpageUser {
    display: flex;
    flex-direction: row;
    color: black;
    list-style: none;
}

.navlandingpageUser li {
    margin-left: 20px;
    margin-right: 20px;
    font-weight: bolder;
    color: black;
}

.navlandingpageUser li:hover {
    color: orange;
    margin-top: 4px;
    cursor: pointer;
}

.main1 {
    height: 750px;
    background: linear-gradient(#bdf1da,
            #f7fdfb);
    display: flex;
    align-items: center;
    justify-content: center;
}

.main1 p {
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 500;
}

.buttonLogin {
    height: 40px;
    width: 120px;
    background-color: #17a85b;
    color: white;
    border-style: none;
    border-radius: 12px;
}

.buttonLogin:hover {
    cursor: pointer;
    background-color: #bdf1da;
    color: #17a85b;
    border-style: solid;
    border-width: 3px;
    border-color: #17a85b;
}

.container-main1 {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-main1 h1 {
    font-size: 48px;
}

.container-main1 img {
    width: 100%
}


/* Main yang ke 2 */

.container-main2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    text-align: center;
}

.container-main2 hr {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Main yang ke 3 */

.container-main3 {
    width: 100%;
    background-color: #bff0da;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 200px;
    padding-bottom: 200px;
    border-top-left-radius: 300px;
    border-bottom-right-radius: 300px;
    text-align: center;
}

.container-main3 hr {
    width: 500px;
    background-color: black;
    height: 2px;
    border-style: none;
    margin-top: 20px;
}

.all-item-main3 {
    width: 100%;
}

.title-main3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.why-happyfinance {
    display: flex;
    width: 100%;
    margin-top: 40px;
    justify-content: center;
    align-items: center;
}

.fade{
    width: 35%;
    margin: 20px;
}

.why-item-1 {
    width: auto;
    height: 300px;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
    

}

.why-item-2 {
    width: auto;
    height: 300px;
    background-color: #1e7365;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

.why-item-1 h3 {
    margin-top: 15px;
    margin-bottom: 15px;
}

.why-item-2 h3 {
    margin-top: 15px;
    margin-bottom: 15px;
}

.fontAwesomeIcon {
    height: 55px;
}


@media only screen and (max-width: 750px) {
    .navigation button{
        margin-right: 0px;
    }
    .navigation img {
        margin-left: 0px;
    }
    .navlandingpage {
        display: none;
    }

    .container-main1 img {
        display: none;
    }

    .why-happyfinance {
        flex-direction: column;
    }

    .why-item-1 {
        width: 80%;
        margin: 0px;
    }

    .why-item-2 {
        width: 80%;
        margin: 0px
    }
    .fade{
        width: 90%;
    }

    .container-main3 {
        padding-top: 300px;
        padding-bottom: 300px;
    }
    .container-main3 hr{
        width: 100%;
    }
}
@media only screen and (max-width: 777px){
    .navlandingpage {
        display: none;
    }
}