.container-main4{
    height: 700px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container-fitur{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container-fitur hr{
    width: 500px;
    background-color: black;
    margin-top: 20px;
    margin-bottom: 20px;
}
.fitur-happyfinance{
    display: flex;
    justify-content: center;
    align-items: center;
}
.fitur-item{
    background-color: white;
    padding: 25px;
    margin: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.fitur-item h3{
    margin-top: 15px;
    margin-bottom: 15px;
}
.fontAwesomeIcon-fitur{
    color: #17a85b;
    height: 55px;
}
.container-main5{
    width: 100%;
    background-color: #bff0da;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 200px;
    padding-bottom: 200px;
    border-bottom-right-radius: 300px;
}
.our-team{
    width: 80%;
    text-align: center;
}
.our-team hr{
    width: 500px;
    background-color: black;
    height: 2px;
    border-style: none;
    margin-top: 20px;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #bff0da;
    height: 300px;
    font-weight: bold;
}