.container-main4{
    height: 700px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container-fitur{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container-fitur hr{
    width: 500px;
    background-color: black;
    margin-top: 20px;
    margin-bottom: 20px;
}
.fitur-happyfinance{
    display: flex;
    justify-content: center;
    align-items: center;
}
.fitur-item{
    background-color: white;
    padding: 25px;
    margin: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.fitur-item h3{
    margin-top: 15px;
    margin-bottom: 15px;
}
.fontAwesomeIcon-fitur{
    color: #17a85b;
    height: 55px;
}
.container-main5{
    width: 100%;
    background-color: #bff0da;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 200px;
    padding-bottom: 200px;
    border-top-left-radius: 300px;
    border-bottom-right-radius: 300px;
}
.our-team{
    width: auto;
    text-align: center;
}
.our-team hr{
    background-color: black;
    height: 2px;
    border-style: none;
    margin-top: 20px;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #bff0da;
    height: 300px;
    font-weight: bold;
}
.item-ourteam{
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}
.item-ourteam button{
    height: 35px;
    margin-top: 20px;
    width: 200px;
    color: white;
    border-radius: 10px;
    background-color: blue;
    border-style: none;
}
.img-me{
    border-radius: 1000px;
    width: auto;
}
.kontak{
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
}
.item-kontak{
    padding-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
}
.kontak img{
    width: 50px;
}
.item-ourteam h2{
    margin-top: 10px;
}
.img-me img{
    width: 300px;
    border-radius: 1000px;
}
@media only screen and (max-width: 750px) {
    .fitur-happyfinance{
        flex-direction: column;
    }
    .container-main4{
        height: auto;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .container-fitur hr{
        width: 100%;
    }
    .our-team hr{
        width: 100%;
    }
    .img-me{
        width: 100%;
    }
}
@media only screen and (max-width: 500px){
    .item-kontak{
        grid-template-columns: 1fr;
    }
}