@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Nunito";
    /* height: 100%; */
}

* button:hover {
    cursor: pointer;
}

.container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
}

.container-login {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
}

.container-signup1 {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.input-signup {
    width: 89%;
    height: 40px;
    margin-bottom: 25px;
    border-radius: 10px;
    border-style: none;
    background-color: #e0e6e4;
    padding-left: 65px;
}

.form {
    position: relative;

}

.container-signup2 {
    width: 40%;
    height: 100%;
    background-image: url('../../Asset/img/Signin.png');
    background-position: center;
    background-size: auto;
    background-color: #2ea678;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-signup2 hr {
    border-style: none;
    background-color: white;
    height: 3px;
    margin-bottom: 60px;
}

.container-signup2 h2 {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 30px
}

.container-signup2 p {
    font-weight: bold;
}

.container-signup2 button {
    height: 35px;
    width: 200px;
    background-color: #2ea678;
    color: white;
    border-color: white;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    margin-top: 20px;
}

.container-signup2 button:hover {
    background-color: white;
    color: #2ea678;
}

.menuju-login {
    text-align: center;
}

.container-signup1 h2 {
    color: #2ea678;
    margin-bottom: 40px;
    font-size: 30px;
}

.email-icon {
    position: absolute;
    left: 20px;
    top: 7px;
    font-size: 25px;
    color: #999798;
}

.container-form {
    width: 70%;
}

.lock-icon {
    position: absolute;
    left: 20px;
    top: 72px;
    font-size: 25px;
    color: #999798;
}

.container-form button {
    margin-top: 15px;
    width: 100%;
    height: 35px;
    background-color: #2ea678;
    color: white;
    border-radius: 10px;
    border-style: none;
}

.kembali {
    position: fixed;
    top: 10px;
    left: 10px;
    color: #2ea678;
    z-index: 1000;
}

.kembali-login {
    position: fixed;
    top: 10px;
    left: 10px;
    color: white;
    z-index: 1000;
}

.kembali h2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.kembali-icon {
    margin-right: 10px;
}

@media only screen and (max-width: 790px) {
    .container {
        flex-direction: column;
        position: static;
        height: auto;
    }

    .kembali-login {
        color: black;
    }

    .kembali {
        color: black;
    }

    .container-login {
        flex-direction: column-reverse;
        position: static;
        height: auto;
    }

    .container-signup1 {
        height: 700px;
        width: 100%;
    }

    .container-form {
        width: 100%;
    }

    .input-signup {
        width: 90%;
    }

    .container-signup2 {
        width: 100%;
        height: 700px;
    }
}

@media only screen and (max-width: 650px) {
    .input-signup {
        width: 85%;
    }
}